---
blog:
    posts:
        limit: 5
        pages: 5
        summary: 300
---

{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}

    <ul style="list-style:none;display:flex;justify-content: center;">
        <li><a href="/inspire-me/tag/ROSE+PARADE">ROSE PARADE</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/inspire-me/tag/DIY+CRAFTS">DIY CRAFTS</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/inspire-me/tag/EVENTS">EVENTS</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/inspire-me/tag/SHORT+BLOGS">SHORT BLOGS</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/inspire-me/tag/NEW+PRODUCTS">NEW PRODUCTS</a></li>
    </ul>
    
    <hr>
    <br>

<style>
@media (min-width: 1261px) {
 .blog-post-body {
 width: 90%;
 }
}
</style>

    {{#each blog.posts}}
        {{> components/blog/post post=this theme_settings=../theme_settings}}
    {{/each}}

    <br>
    <br>

    {{> components/common/paginator pagination.blog}}
</section>

{{/partial}}
{{> layout/base}}

