<div class="form-field" data-product-attribute="set-rectangle" role="radiogroup" aria-labelledby="rectangle-group-label">
    <!-- {{log @root.product.options}} -->
    <label class="form-label form-label--alternate form-label--inlineSmall" id="rectangle-group-label">
        {{this.display_name}}:
        <span data-option-value></span>

        {{> components/common/requireness-msg}}
    </label>
    {{#unless required}}
        <input
            class="form-radio"
            type="radio"
            id="attribute_rectangle__{{id}}_none"
            name="attribute[{{id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
        >
        <label class="form-option" for="attribute_rectangle__{{id}}_none">
            <span class="form-option-variant">{{lang 'products.none'}}</span>
        </label>
    {{/unless}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var cartProductQuery = `query ProductById{
            site {
                product(entityId: {{@root.product.id}}) {
                    name
                    inventory {
                        isInStock
                    }
                    customFields {
                        edges {
                        node {
                            name
                            value
                        }
                        }
                    }
                    variants {
                        edges {
                        node {
                            prices {
                            basePrice {
                                value
                            }
                            }
                            id
                            entityId
                            sku
                            isPurchasable
                            inventory {
                            isInStock
                            }
                            options {
                            edges {
                                node {
                                displayName
                                entityId
                                values {
                                    edges {
                                    node {
                                        entityId
                                        label
                                    }
                                    }
                                }
                                }
                            }
                            }
                        }
                        }
                    }
                    entityId
                    }
                }
            }`;

        async function fetchGraphQLData(query) {
            const queryOptions = {
                method: 'POST',
                credentials: 'same-origin',
                headers: { 'Content-Type': 'application/json', Authorization: `Bearer ${bearerToken}` },
                body: JSON.stringify({
                    query,
                }),
            };

            try {
                const response = await fetch('/graphql', queryOptions);
                const result = await response.json();

                if (!result || !result.data) {
                    throw new Error('Invalid GraphQL response');
                }

                return result.data;
            } catch (error) {
                console.error('GraphQL error:', error);
                throw error;
            }
        };

        async function getSingleProduct() {
            const query = cartProductQuery;
            return await fetchGraphQLData(query);
        };

        async function getB2BOptions() {
            return await getSingleProduct().then((product) => {
                var variants = product.site.product.variants.edges.map((item) => {
                    var variantNode = item.node.options.edges[0].node.values.edges[0].node
                    return {
                        id: variantNode.entityId,
                        label: variantNode.label,
                        selected: false,
                        data: variantNode.label
                    }
                })
                var b2bCustomFields = product.site.product.customFields.edges.filter((item) => item.node.name === 'B2Boptions');
                var b2bOptions = (b2bCustomFields[0].node.value).split(',');
                return variants.filter((item) => b2bOptions.includes(item.label));
            });
        }

        function variantTemplate(variant) {
            return `
                <div class="form-option-wrapper">
                    <input
                        class="form-radio"
                        type="radio"
                        id="attribute_rectangle__{{@root.product.options.0.id}}_${variant.id}"
                        name="attribute[{{@root.product.options.0.id}}]"
                        value="${variant.id}"
                        {{#if selected}}
                            checked
                            data-default
                        {{/if}}
                        {{#if @root.product.options.0.required}}required{{/if}}
                        data-label="${variant.label}"
                    >
                    <label class="form-option" for="attribute_rectangle__{{@root.product.options.0.id}}_${variant.id}" data-product-attribute-value="${variant.id}">
                        <span class="form-option-variant">${variant.label}</span>
                    </label>
                </div>
            `
        }

        getB2BOptions().then((opts) => {
            if (opts) {
                opts.forEach((variant) => {
                    $('#variants-rec').append(variantTemplate(variant));
                })
            }
        });
    </script>
    <div id="variants-rec"></div>
</div>
