input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid #989898;
    position: relative;

    &:checked {
        border: 1px solid #006F51;
    }

    &:checked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        background-color: #006F51;
    }

}

.actionBar {
    .actionBar-section {
        float: left;
    }
}

#search-results-content {
    ul {
        margin-left: 0;
    }
}

[data-layout-name="Layout_no_underline"] a {
    text-decoration: none;
}

[data-layout-name="Layout_no_underline"] a:hover {
    color: #4f4f4f;
}
@media screen and (min-width:801px) {
    .page .navBar--account .navBar-section .navBar-item:nth-child(7) {
        display: none;
    }

    .navUser .navUser-section {
        display: flex;
        gap: 15px;

        .navUser-item__search-item {
            order: 4;
        }
    }


    .navUser-item--cart .dropdown-menu.is-open::after {
        left: 2px;
    }

    .navUser-item--cart .dropdown-menu.is-open::before {
        left: 0;
    }

    .bottom-menu-container {
        display: flex;
        align-items: center;
        max-width: 1230px;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;

        .header-logo{
            margin: 0;
        }

        .navPages-container{
            width: 80%;

            .navPages-list .navPages-item:not(:last-of-type){
                margin-right: 80px;
            }
        }
    }

    .navPages-guest{
        display: flex;
        justify-content: flex-end;
    }

    .navUser{
        max-width: 1230px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;

        .navUser-item:not(:last-of-type) {
            margin-right: 15px;
        }


        .navUser-item .navUser-action {
            font-size: 16px;
        }
    }

    .dropdown--quickSearch.is-open {
        top: 0 !important;
        background-color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .forgot-password {
        display: block;
        margin: 5px 0 5px auto;
        text-align: right;

    }
}

p.u-textAlignCenter {
    color: #4f4f4f;
}

.navUser .navUser-item .navUser-action {
    font-weight: 500;
}

.previewCart .previewCartAction .previewCartAction-viewCart {
    .button{
        border-color: #BB8D0A;
        background-color: #BB8D0A;
        color: #ffffff;
    }

    .button:hover{
        border-color: #F1A500;
        background-color: #F1A500;
        color: #ffffff;
    }
}

.cart-actions >.button{
    text-transform: capitalize;
}

[data-content-region="cart_below_totals"] {
    display: none;
}

.cart-additionalCheckoutButtons{
    display: none;
}

.hasAdminBar [data-content-region="header_bottom"] {
    margin-top: 0 !important;
}

@media screen and (max-width:800px) {
    .navPages #navPages-account .navPage-subMenu-item.b3-navs:nth-last-of-type(6) {
        display: none;
    }

    .b2b-wrap.c002 .search-product-table .col-product-price {
        display: flex;
        position: relative;
        justify-content: center;

        span {
            text-align: center;
            width: 100%;
        }
    }

    [data-layout-name="corp-info-prod-catalog"] {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navPage-subMenu-list li.navPage-subMenu-item {
        padding: 0;
    }

    .navPage-subMenu-list li.navPage-subMenu-item a.navPage-subMenu-action {
        font-size: 14px;
        padding: 7px 1rem;
    }

    .navPage-subMenu-list li.b3-navs{
        padding: 0;
    }

    .navPage-subMenu-list li.b3-navs a.navPages-action {
        font-size: 14px;
        padding: 7px 1rem;
    }

    .addrCol p {
        margin: 0;
    }
}

@media screen and (max-width:550px) {

    .b2b-wrap.c002.c008 {
        margin-bottom: 100px;
    }

    .bottom-cart-container.c008.c00312::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 60px;
        top: -60px;
        background-color: #ebebeb;
    }
}
.bottom-cart-container.c008.c00312 {
    position: static !important;
    margin-bottom: 30px !important;

    .bottom-cart-inner .fa {
        display: none !important;
    }
}

#swal2-content {
    color: #4f4f4f;
    font-size: 22px;
}

.swal2-container .swal2-popup .swal2-styled.swal2-confirm {
    @extend .button--primary;
    font-size: 16px;
}

.swal2-actions a {
    font-size: 16px;
    color: #4f4f4f !important;

    &:hover {
        color: #0039A6 !important;
    }
}

.swal2-popup .swal2-styled.swal2-cancel{
    @extend .button--secondary;
    a {
        font-size: 16px;
        color: #ffffff !important;
        text-decoration: none !important;
    }

    &:hover, &:active, &:focus {
        background-color: #F1A500 !important;
    }
}


.account-listItem, .wishlist-add {
    .account-product--alignMiddle .account-product-checkItem .form-label {
        width: 16px;
        height: 16px;
    }

    .form-checkbox+.form-label::after {
        background: #008A06;
        width: 6px;
        height: 6px;
        transform: translate(-50%, -50%) scale(1) !important;
        top: 50%;
        left: 50%;
    }

    .form-checkbox:checked+.form-label::before{
        background: transparent;
        border: 1px solid #008A06;
    }
    .form-checkbox + .form-label::before{
        top: unset;
    }
}

.wishlist-add {
    .form-checkbox+.form-label::after {
        left: 8px;
        top: 13px;
    }

    .form-checkbox + .form-label::before {
        top: 5px;
    }
}

.account .button:not(.button--primary):not(.button--small),
.b2b-wrap .button:not(.button--primary):not(.button--small){
    background-color: #BB8D0A;
    color: #ffffff;
    border: 1px solid #BB8D0A;

    &:hover, &:active, &:focus {
        color: #ffffff;
        background: #F1A500;
        border: 1px solid #F1A500;
    }
}

.button--search,
.c0010 .address-lists-wrap .search-toolbar .search-input-box .button,
.button.button--small.c00335{
    padding: 0 10px !important;
    border-radius: 0 4px 4px 0 !important;
    @extend .button
}

.c0010 .address-lists-wrap .search-toolbar .search-input-box .button,
.button.button--small.c00335{
    padding: 5px 10px !important;
}

.dp-cal-month, .dp-cal-year, .dp-day, .dp-month, .dp-year {
    color: #4f4f4f !important;
}

.dp-selected:hover, .dp-selected:focus, .dp-selected {
    background: #989898 !important;
    color: #ffffff !important;
}

.dp-col-header {
    color: #989898 !important;
    font-size: 16px !important;
}

.dp-cal-footer {
    color: #4f4f4f !important;
}

.order-lists-wrap .order-lists-table .actions-field .button {
    &:hover, &:focus, &:active {
        text-decoration: none !important;
    }
}

.c002 .button--small {
    font-size: 16px !important;
}

.button--small {
    &:hover, &:focus, &:active {
        text-decoration: none !important;
    }
}

#invoices-list-container,
.shopping-lists-table,
.address-lists-table,
.quote-list-table {
    .dropdown-menu.show-action, .dropdown-menu.c0058 {
        background: #ffffff;
        margin: 0;
        padding: 0;

        .button.button--small {
            @extend .button;
            width: 100%;
            padding: 8px;
            margin: 0 0 10px 0 !important;
            font-size: 16px !important;

            a {
                padding: 0;
                display: block;
                margin: auto;
                text-align: center;
                font-size: 16px !important;
            }
        }
    }
}

.c0010 .address-lists-wrap .address-lists-table .actions-field .dropdown-action-wrap .dropdown-menu .button {
    border: 1px solid #006F51 !important;
}

.c00399 .form-input {
    width: 190px !important;
}

.account-message .is-read {
    color: #4f4f4f !important;
}

.b2b-wrap {
    h2.page-title {
        font-size: 28px !important;
        font-weight: 700 !important;
    }

    h3.page-title-small {
        font-size: 25px !important;
        font-weight: 700 !important;
    }

    .form-input {
        font-size: 16px;
    }

    #search_single_sku, #search_skus {
        background: transparent;
        border: none;
    }
}

.c002 #shopping_list_table .product-description,
.c002 #shopping_list_table .product-title {
    font-size: 16px !important;
}

.c008 .table-toolbar .sl-search-container #sl-search-btn {
    border-left: none !important;
}

.c00233 .rfq-send-message .rfq-send-message-btn-wrap .rfq-send-message-btn {
    border: 1px solid #989898 !important;
    padding: 5px 10px !important;
    border-radius: 6px !important;
    font-weight: 400 !important;

    &:hover, &:focus, &:active {
        border: 1px solid #006F51 !important;
    }
}


.c00410 .rfq-items-info-thead {
    background-color: #729ABD !important;
}

.c00234 button {
    background-color: #989898 !important;
}

.navBar .navBar-item {
    margin-bottom: 10px;
}

.c002 .filter-by-date #orderFromDate,
.c002 .filter-by-date #orderToDate {
    color: #4f4f4f !important;
}

.button.modal-close.modal-close--button {
    &:hover, &:focus, &:active {
        text-decoration: none !important;
        color: #006F51 !important;
    }
}

.modal-close--button {
    padding: 0.75rem 2.28571rem !important;
}

.account-product-checkItem.c00404 input {
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
}

@media (max-width: 600px) {
    .filter-by-date.c00171 {
        input {
            font-size: 12px !important;
            min-width: 102px !important;
        }
    }

    .c002 table>tbody>tr {
        padding-bottom: 15px !important;
        border: none !important;
    }

    .address-lists-wrap .search-input-box {
        display: block !important;
        margin-bottom: 20px !important;
    }

    .c00410 .rfq-container-info{
        flex-direction: column !important;
    }
    .rfq-total {
        padding: 15px 20px !important;
    }

    .c00220 .filter-btn .button-filter {
        i {
            display: none !important;
        }
    }
    .actions-field.c00216 {
        .dropdown-menu {
            margin-top: 20px !important;
        }
    }

    .button.button--small.button-filter.c00169{
        margin-left: 0 !important;
        margin-bottom: 20px !important;
        float: unset !important;
    }

    .order-lists-wrap .orders-search-company.c00165 {
        float: unset !important;
    }
}
.c00220 .form-field .button--search {
    margin-bottom: 1px !important;
}
.table-toolbar {
    margin-bottom: 30px !important;
}

.cart-actions .rfq-button-container .button--primary {
    @extend .button--secondary
}

#couponcode {
    height: 40px;
}

#add-shipping {
    .shipping-quotes {
        color: #cc4749;
        margin-bottom: 10px;
    }
}

.quick-order-pad-table-body {
    tr {
        position: relative;
    }

    .sku-search-results {
        padding-bottom: 40px !important;
        margin-top: 30px !important;
    }
}

.product-info .more-results.pagination-list {
    padding: 0 50px 0 80px;
    position: absolute;
    bottom: -20px;

    @media (max-width: 650px) {
        width: 100%;
    }

    .pagination-item--previous {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .pagination-item--next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.c006 .quick-order-pad-table {
    margin-bottom: 10px !important;
}

.c006 .file-upload-title,
.c006 .quick-order-pad-table thead>tr>th {
    font-size: 18px !important;
}

.sku-search-button {
    @extend .button--secondary;
}

.invoices-filter-form {
    .filter-fields {
        display: block !important;

        #filter-invoices-beginDateAt-input {
            margin-bottom: 15px !important;

            & + span {
                font-weight: 600;
                color: #4f4f4f;
            }
        }
    }
}

.c00375 {
    margin-left: 15px !important;
}

.form-copy-address {
    .form-label {
        &:before, &:after {
            display: none;
        }
    }

    display: flex;
    align-items: center;
}

.rfq-form-wrapper {

    .form-container .title-container {
        background-color: rgba(217, 217, 217, 0.5) !important;
    }

    .form-container .quote-edit-container .quote-edit-item .products-search-container .search-input-container .searchBtn-container {
        height: 100% !important;
    }

    .searchBtn-container .button--search {
        @extend .button--secondary;
        margin: 0 !important;
        height: 100% !important;
        border: none !important;
    }

    .address-book-container .address-list-search-container .button--search {
        @extend .button--secondary;
        margin: 0 !important;
        border: none !important;
    }

    .form-container .products-container .product-list-item-container {
        background-color: rgba(217, 217, 217, 0.3) !important;
    }

    .form-container .products-container .product-list-item-container .description-container .product-name, .product-sku, .product-options {
        font-size: 16px !important;
    }

    .form-checkbox + .form-label, .form-radio + .form-label {
        padding-left: 1rem !important;
    }

    .address-book-container .address-list {
        border: 1px solid #989898;
        background-color: rgba(217, 217, 217, 0.3) !important;
    }

    .form-container .body-container .form-title {
        color: #000000 !important;
    }

    .quote-edit-information .form-field .form-label,
    .quote-edit-information .form-field .form-input,
    .quote-edit-information .form-field .form-select{
        font-size: 16px !important;
    }

    .quote-edit-information .form-field .form-input, .quote-edit-information .form-field .form-select{
        height: 2.5rem !important;
    }

    .form-container .products-container .product-list-item-container .fa {
        cursor: pointer !important;
    }

    .form-input.product-qty-edit {
        min-width: 35px;

        @media (max-width: 600px) {
            margin-right: 0.5rem !important;
        }
    }

    .quote-edit-container .product-sku,
    .edit-product-options-container [data-product-sku]{
        display: none !important;
    }
}

.shopping-list-table .col-product-info .product-sku {
    display: none !important;
}

.tingle-modal-box__content [data-product-sku] {
    display: none !important;
}

//hide quote pricing for guests

.is-guest {
    .search-products-info p:last-child,
    .base-price-container,
    .rfq-total.c00240,
    .rfq-header-icon-wrap.c00235,
    .c00410 .rfq-checkout-btn-wrap {
        display: none !important;
    }

    .rfq-items-table-underline.rfq-table-body tr,
    .rfq-items-table-underline.rfq-items-info-thead tr{
        td,
        th {
            display: none !important;
        }

        td:first-child,
        td:first-child + td,
        th:first-child,
        th:first-child + th {
            display: table-cell !important
        }
    }

    #validate-company,
    .navUser-item--cart {
        display: none;
    }

    .navUser ul {
        display: flex;
    }

    #menu {
        .c0029 {
            display: none !important;
        }
    }

    .edit-product-options-container .edit-product p:first-child + p {
        display: none;
    }
}

.coupon-code-add,
.cart-total-grandTotal,
.coupon-code-cancel {
    @media (max-width: 600px) {
        padding-top: 15px;
    }
}

.th-col-message {
    position: absolute;
    top: 45px;
    left: 10px;
}

.optionView .select-container .button.button--primary {
    padding: 7px 10px !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #BB8D0A !important;
    border-color: #BB8D0A !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
}

.address-lists-wrap {
    .search-toolbar.top  #search_button {
        @extend .button--secondary;
        height: 35px !important;
    }

    #keyword {
        height: 35px !important;
    }

    #search_clear {
        display: none !important;
    }
}

#userManage-searchButton {
    @extend .button--secondary;
}

.c00241 .form-container .title-container h3 {
    font-size: 25px !important;
}

.rfq-form-wrapper h4, .form-container .body-container .form-title {
    font-size: 22px !important;
}

.c00241 .quote-success-container {
    height: 42vh !important;
}

@media (max-width: 650px) {
    .c00241 .form-container .quote-edit-container .quote-edit-item .products-search-container,
    .c00241 .form-container .quote-edit-container .quote-edit-item .quote-submit-container{
        height: unset !important;
    }

    .c00241 .address-book-container {
        width: 95% !important;
    }

    .c00241 .address-book-container .address-list-container {
        margin-right: 0 !important;
    }
}

////Category styling

.category-banner {
    position: relative;
    margin: auto auto 50px;
    height: auto;

    img {
        height: 290px;
        object-fit: cover;
    }

    &--full {
        margin-top: -1.5rem;

        @include breakpoint("medium") {
            margin-top: -2.5rem;
        }

        h1 {
            text-align: center;

            @include breakpoint("medium") {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    h1 {
        @media (max-width: 650px) {
            font-size: 28px;
        }
    }


    & + nav {
        margin-bottom: 50px;
    }
}

.parent-category {
    .sidebarBlock {
        display: none;
    }

    .page-content {
        width: 100%;
    }
}
.facetedSearch-guest {
    .accordion-nav-clear-holder.Price {
        display: none;
    }

    #facetedSearch-content--price {
        display: none;
    }
}


.subcategory-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        width: 100%;
        display: inline-block;
        margin-bottom: 50px;
        text-decoration: none;

        @include breakpoint("small") {
            width: calc(50% - 25px);
        }

        @include breakpoint("medium") {
            width: calc(33.333% - 50px);
        }
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 400;
    }

    img {
        width: 100%;
        height: 268px;
        object-fit: cover;
        max-width: 345px;
        margin: 0 auto;
        display: block;
    }
}


[data-content-region="product_below_price"] {
    display: none;
}

.bold {
    font-weight: 700;
}

.is-desktop {
    display: none;

    @include breakpoint("medium") {
        display: block;
    }
}

.is-mobile {
    @include breakpoint("medium") {
        display: none;
    }
}

// Custom add to cart qty boxes and price hiding

.custom-add-to-cart {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    .alertBox {
        margin: auto;
    }

    .alertBox-icon {
        padding-right: 10px;
    }

    p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .input-box {
        display: flex;

        button {
            height: 30px;
            width: 32px;
            border: 1px solid #989898;
            color: #989898;
            z-index: 2;
            position: relative;

            &.dec {
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
            }

            &.inc {
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;

                &:after {
                    position: absolute;
                    content: '';
                    height: 11px;
                    width: 1px;
                    background-color: #989898;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:before {
                position: absolute;
                content: '';
                height: 1px;
                width: 11px;
                background-color: #989898;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        input {
            width: 50px;
            border-radius: 0;
            border: 1px solid #989898;
            border-left: 0;
            border-right: 0;
            text-align: center;
            color: #4F4F4F;
            font-size: 16px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.product-custom-add-to-cart {
    justify-content: center;
    padding-top: 0;
    //margin-bottom: 30px;

    >div:first-child {
        margin-right: 20px;
    }

    @include breakpoint("medium") {
        max-width: 50%;
        justify-content: space-between;
    }
}

//[data-product-option-change] {
//    visibility: hidden;
//    height: 0;
//    overflow: hidden;
//}

//#add-to-cart-wrapper {
//    .form-field.form-field--increments, .add-to-cart-buttons {
//        display: none;
//    }
//}

.isCategoryPage {
    .card-title {
        min-height: 48px;
    }
}

.productView-options {
    .price-per-unit {
        //margin-bottom: 30px;
    }
}

.container.c00110 {
    .c00111 {
        order: 1;
    }

    .custom_acc_id {
        order: 2;
        line-height: 40px;
        margin-left: 20px;
    }

    .c00112{
        order: 3;
    }
}

#quickSearch form {
    position: relative;
}

.quick-search-btn{
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;

    img {
        width: 40px;
        height: 40px;
    }
}

.container .isCategoryPage .page-sidebar {
    max-height: 2442.25px;
    overflow-y: auto;
    width: calc(25% - 25px);
    margin-right: 25px;
}

.container .isCategoryPage .page-sidebar::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.container .isCategoryPage .page-sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.c003 table.c00128 tr>td:nth-child(1) {
    @media (min-width: 551px) {
        width: 10%;
    }
}


.c003 table.c00128 tr>td {
    @media (min-width: 551px) {
        width: 30%;
    }
}

.c003 table.c00128 tr>td:nth-child(3) {
    @media (min-width: 551px) {
        display: none;
    }
}

.c003 table.c00128 [data-order-by="companyEmail"] {
    @media (min-width: 551px) {
        display: none;
    }
}

.responsive-table tbody td:nth-of-type(1):before {
    @media (max-width: 550px) {
        content: "Account ID:" !important;
    }
}

.responsive-table tbody td:nth-of-type(2):before {
    @media (max-width: 550px) {
        content: "Company Name:" !important;
    }
}

.responsive-table tbody td:nth-of-type(3) {
    @media (max-width: 550px) {
        display: none;
    }
}

.responsive-table tbody td:nth-of-type(4)>p {
    @media (max-width: 550px) {
        margin-bottom: 2px;
    }
}

.responsive-table tbody td:nth-of-type(4):before {
    @media (max-width: 550px) {
        content: "Company Address:" !important;
    }
}

.responsive-table tbody td:nth-of-type(5):before {
    @media (max-width: 550px) {
        content: "Company Admin Impersonation:" !important;
    }
}

.responsive-table .sort-thead [data-order-by="companyEmail"] {
    @media (max-width: 550px) {
        display: none;
    }
}

.c003 table.c00128 tr>td>p {
    @include breakpoint("medium") {
        margin-bottom: 2px;
    }
}

.salerep-infobox {   
    @media (max-width: 800px) {
        margin-top: 1rem;
    }
}

.salerep-infobox.saler-extends {
    .container {
        @media (max-width: 550px) {
            display: flex;
            flex-direction: column;

            .c00111 {
                display: flex;
                flex-direction: column;
                max-width: 100%!important;

                .custom_acc_id {
                    margin-left: 0;
                }
            }
        }
    }
}

.navUser-item--cart {
    display: none;

    &.show {
        display: block;
    }
}

.jsBeforeLastCol > img {
    @media screen and (max-width:551px) {
        display: block;
    }
}
